//VARIABLES
//theme colors
$light-white: #fff;
$dark-white: #e1e1e1;

$black-color: #191b23;

$pink-color:#e72ed4;
$orange-color:#de581e;
$purple-color:#982596;
$blue-color:#4683c2;
$green-color:#5A9805;

//transitions
$transition-time: all .2s ease-in-out;
$transition-time-long: all .6s ease-in-out;

//border styles
$border-style: 1px solid $dark-white;

$border-style-dark: 1px solid rgba(73,77,92,0.6);

//shadows
$inner-shadow: inset 0px 0px 10px 0 rgba(0,0,0,0.3);
$inner-shadow-large: inset 0px 0px 20px 0 rgba(0,0,0,0.6);
$inner-shadow-huge: inset 0 0 100px 0 #000;
$box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);


//GLOBAL OVERRIDES
.svg-def svg {
  display:none;
}

body {
    padding-bottom:40px;
}


h2 {
    @media #{$small-only} { 
        text-align:center;
    }
}

h3 {
    font-weight: bold;
}

img {

}

table {
    width:100%;
    border:none;
    thead tr {
        background:$pink-color;
        td {
            font-size: 1.0rem;
            color:$light-white;
            @media #{$small-only} {
                font-size: 0.5rem;
            } 
        }
    }
    th {
        background:$black-color;
        color:$light-white !important;
        text-transform: uppercase;
    }
    th, td {
        @media #{$medium-up} {
            padding:18px !important;
        }
        @media #{$small-only} {
            font-size:10px !important;
            padding:5px !important;
        }

    }
    tr {
        border-bottom:$purple-color 2px solid;
        &:nth-of-type(even) {
            background:none !important;
        }
        td {
            font-size:1.1rem !important;
        }
    }
}

blockquote, blockquote p {
    font-family: $font-family-serif;
    font-size: 24px;
    border:none;
    padding:0px;
}

/*.wpb_column {

    blockquote {
        font-family: $font-family-serif;
        border:none;
        padding:0px;
        &:before {
            content:"\201C"; 
            font-size: 60px;
            position:absolute;
            top:15px;
            line-height:-60px;
            font-family: $font-family-serif !important;
        }

    }

    blockquote h3 {
        margin-top:40px;
        font-family: $font-family-serif;
        font-size: 24px !important;
        line-height:33px;
        color:$light-white !important;      
    }

}

*/



.button, .button-primary {
    //border:2px solid $pink-color;
    color: $light-white !important;
    
    background: $pink-color; /* Old browsers */

    text-transform: uppercase;
    font-weight:bold !important;
    margin:0 0 20px 0;
    transition:$transition-time;

    cursor:pointer;

    &:hover, &:focus {
        transition:$transition-time;
    }
    &.small, .gform_button {
        padding:$column-gutter/4 $column-gutter/2;
    }
    &.tiny {
        font-size: emCalc(10px);
        padding: 4px 12px;

    }
}

.session-taxonomies ul { 
    
    margin-left:0px;

    li {
        margin-left:0px;
        margin-right:10px;
        &:last-child {
            margin-right:0px;
        }
    }
}

.pill {
    background:$dark-white;
    border-radius:20px;
    padding:5px 10px;
    margin-right:-7px;
    margin-bottom:3px;
    font-size:emCalc(11px);
    text-transform: uppercase;
}

.utility-head {
    margin-bottom:$column-gutter;
    text-transform: uppercase;
    font-size:18px !important;
    font-weight:bold;
}

.centered {
    text-align:center;
}

.grey {
    background: $dark-white;
}

span.green {
    color: $green-color;
}

.padded {
    margin-bottom:$paragraph-margin-bottom*4;
}

img.aligncenter {
    text-align:center;
    display:block;
    margin:0 auto;
}

.no-display {
    display: none;
}

.hidden {
    height:0px !important;
    transition: $transition-time;
}

.post-meta {
    text-transform: uppercase;
    
    &.dark {
        p {
            color:$black-color;
        }
        
    }
    p {        
        color: $pink-color;
        font-size:emCalc(12px);
        margin-bottom:0px;
    }
}

.single-post-title {
    margin-bottom:$paragraph-margin-bottom*2;
}

//grid
.grid-title {
    color:$light-white;
    font-size:emCalc(24px);
}

//countdown
#clockdiv{
    margin:0 auto;
    width:100%;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 36px;
}

#clockdiv > div{
    padding: 10px;
    margin:10px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3e424e+0,191c23+98 */
    background: #3e424e; /* Old browsers */
    background: -moz-linear-gradient(top,  #3e424e 0%, #191c23 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3e424e 0%,#191c23 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3e424e 0%,#191c23 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e424e', endColorstr='#191c23',GradientType=0 ); /* IE6-9 */

    display: inline-block;

    @media #{$small-only} {
        margin:0px;
    }

}

#clockdiv div > span{
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
    color: darken($light-white, 50%);
}


img.aligncenter {
    text-align:center;
}

#thanks h2 {
    text-align:center;
}

.error_messages {
    margin-top:$paragraph-margin-bottom;
}

form.regform {
    box-shadow: $box-shadow;
    padding:$paragraph-margin-bottom/2 $paragraph-margin-bottom*2 $paragraph-margin-bottom*2 $paragraph-margin-bottom*2;
    background:$light-white;
    margin-top:$paragraph-margin-bottom;
    h3 {
        margin-top:$paragraph-margin-bottom*2;
    }
    span {
        font-size:emCalc(14px);
        margin-left:5px;    
    }
}

//vc overrides
.vc_row[data-vc-full-width].vc_hidden {
    opacity: 1 !important;
}

.vc_images_carousel {
    width:100% !important;
}

.vc_grid.vc_row .vc_grid-item {
    z-index:0;
}

.vc_btn3-container {
    max-width:inherit !important;
}

.vc_gitem-post-data-source-post_date {
    display:none !important;
}

.vc_grid-item-mini {
    .vc-gitem-zone-height-mode-auto {
        opacity:0.5 !important;  
    }
    &.vc_is-hover {
        .vc-gitem-zone-height-mode-auto {
             opacity:1 !important;
        }
    }
}

.vc_row {
    margin-left:0px !important;
    margin-right:0px !important;
}

.vc_tta-panel-body {
    padding: 30px !important;
}

.vc_images_carousel {
    text-align: center;
}

.vc_carousel-control {
    opacity:1 !important;
    position:relative !important;
    top: 20px !important;
    left: -5px !important;
}

.vc_images_carousel .vc_carousel-control .icon-prev {
    position:relative !important;
    top:auto !important;
    left:auto !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    opacity:1;
    display:inline-block !important;
    &:before {
        
        content: '\2039';
      
        line-height: 0.9em;
        background: black;
        border-radius: 16px;
        color: white;
        text-indent: -3px;
        width: 32px;
        height: 32px;
        display:block;
        margin-right:10px;
       
    }
}
   
.vc_images_carousel .vc_carousel-control .icon-next {
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
    top:auto !important;
    left:auto !important;
    position:relative !important;
    display:inline-block !important;
    &:before {
        margin-left:10px;
        content: ' \203a';
        line-height: 0.9em;
        background: black;
        border-radius: 16px;
        color: white;
        text-indent: 4px;
        width: 32px;
        height: 32px;
        display:block;
    }
}


//gravity forms override
.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
    width:100% !important;
}

.gform_wrapper {
    padding:$column-gutter;
    background:$light-white;


}

//comments override
#wc-comment-header {
    padding:1rem 0 !important;
} 


//TOP SECTION DIFFERENCES
.logo.shape-logo-devcon {
     transition: $transition-time;
    &:hover {
        transition: $transition-time;
        fill:$orange-color;
    }
}

.logo.shape-logo-bbworld {
    transition: $transition-time;
    &:hover {
        transition: $transition-time;
        fill:$pink-color;
    }
}

.logo.shape-logo-bbworldlive {
    transition: $transition-time;
    &:hover {
        transition: $transition-time;
        fill:$green-color;
    }
}

body.single-livesession {

    header.loggedin-header {
        background:$black-color;
        top:0px;
        .logo.shape-logo-bbworldlive {
            fill:$green-color;
            width:120px;
            height:45px;
            margin-top:10px;
        }
        .inline-list {
            margin-top:20px;
            a {
                margin-top:4px;
                font-size:emCalc(12px);
                text-transform: uppercase;
                color:$light-white;
                &.button {
                    margin-top:0px !important;
                    margin-bottom:0px;
                }
            }
        }
    }
    
}


body.bbworld, body {
    

    h2 {
        background: linear-gradient(330deg, $blue-color 0%, $purple-color 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }


    a {
        color:$pink-color;
        font-weight:bold;
    }

    table tr {
        border-bottom:$purple-color 2px solid;
    }

    a.button, input.button, a.button-primary {
        transition: $transition-time;
        background:$pink-color;
        &:hover {
            background:darken($pink-color, 10%) !important;
            color:$light-white !important;
            transition: $transition-time;
        }
      
        &.dark {
 
            color:$light-white !important;
            transition: $transition-time;
            &:hover {
                background:darken($pink-color, 10%) !important;
               
                color:$light-white !important;
                transition: $transition-time;
            }
        }
        &.menu-register-btn {
        
        }
    }


    .main-header .menu-logo {
        .logo {
            display:block;
            fill:$pink-color;
        }
    }
    .main-menu a {
        transition: $transition-time;
        &:hover {
            transition: $transition-time;
            color:$pink-color;
        }
        &.current {
            @media #{$medium-up} { 
                border-bottom: 4px solid $pink-color;
            }
            .logo {
                display:block;
                fill:$pink-color;
            }
        }
    }
    .sub-menu li.current-menu-item a {
         color:$pink-color;
    }
    
    .hero-section a.button {
        color:$light-white;
        &:hover {
            color:$light-white;
        }
    }

    .post-meta p {
        color:$pink-color;
    }
    .bottom-cta-holder {
        background: $pink-color;
    }
    .session-filter-title {
        color:$pink-color;
    }
    .session-filter-options li {
        color:$pink-color;
    }

    .pill {
        &.highlight {
            color:$light-white;
            background:$pink-color;
        }
    }

    .bottom-form-holder {
        border-top:1px solid $purple-color;
    }

}

body.devcon {


    h2 {
        background: linear-gradient(330deg, darken($orange-color, 30%) 0%, $orange-color  100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        color:$orange-color;
    }

    table tr {
        border-bottom:$orange-color 2px solid;
    }

    a.button, input.button, a.button-primary {
        transition: $transition-time;
        background:$orange-color;
        &:hover {
            background:darken($orange-color, 10%) !important;
            color:$light-white !important;
            transition: $transition-time;
        }
      
        &.dark {
           
            color:$light-white !important;
            transition: $transition-time;
            &:hover {
                background:darken($orange-color, 10%) !important;
               
                color:$light-white !important;
                transition: $transition-time;
            }
        }
        &.menu-register-btn {
        
        }
    }
    .main-header .menu-logo {
        .logo {
            display:block;
            fill:$orange-color;
        }
    }
    .main-menu a {
        transition: $transition-time;
        &:hover {
            transition: $transition-time;
            color:$orange-color;
        }
        &.current {
            @media #{$medium-up} { 
                border-bottom: 4px solid $orange-color;
            }
            .logo {
                display: block;
                fill:$orange-color;
            }
        }
    }
    .sub-menu li.current-menu-item a {
         color:$orange-color;
    }
    .bottom-bar, .bottom-bar-trans {
        background:$orange-color;
    }
    .post-meta p {
        color:$orange-color;
    }
    .bottom-cta-holder {
        background: $orange-color;
    }
    .session-filter-title {
        color:$orange-color;
    }
    .session-filter-options li {
        color:$orange-color;
    }

    .pill {
        &.highlight {
            color:$light-white;
            background:$orange-color;
        }
    }

    .bottom-form-holder {
        border-top:1px solid $orange-color;
    }
}

body.bbworldlive, body.single-livesession {

    //display:none;

    h2 {
        background: linear-gradient(330deg, darken($green-color, 30%) 0%, $green-color  100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        color:$green-color;
    }

    table tr {
        border-bottom:$green-color 2px solid;
    }

    a.button, input.button, a.button-primary {
        background:$green-color;
        transition: $transition-time;
        &:hover {
            background:darken($green-color, 10%)!important;
            color:$light-white !important;
            transition: $transition-time;
        }
      
        &.dark {
            
            color:$light-white !important;
            transition: $transition-time;
            &:hover {
                background:darken($green-color, 10%)!important;
         
                color:$light-white !important;
                transition: $transition-time;
            }
        }
     
    }
    .main-header .menu-logo {
        .logo {
            display:block;
            fill:$green-color;
        }
    }
    .main-menu a {
        transition: $transition-time;
        &:hover {
            transition: $transition-time;
            color:$green-color;
        }
        &.current {
            @media #{$medium-up} { 
                border-bottom: 4px solid $green-color;
            }
            .logo {
                display:block;
                fill:$green-color;
            }
        }
    }
    .sub-menu li.current-menu-item a {
         color:$green-color;
    }

    .bottom-bar, .bottom-bar-trans {
        background:$green-color;
    }
    .post-meta p {
        color:$green-color;
    }
    .bottom-cta-holder {
        background: $green-color;
    }
    .session-filter-title {
        color:$green-color;
    }
    .session-filter-options li {
        color:$green-color;
    }

    .bottom-form-holder {
        border-top:1px solid $green-color;
    }

}



//HEADER
.top-header {
    padding:10px;
    position:relative;
    background:$black-color;
    .top-register-btn {
        margin-bottom:0px;

    }
}
.top-menu {
    list-style:none;
    margin:2px 0 0 0;
    li {
        display:inline;
        font-size: emCalc(11px);
        color: $light-white;
        a {
            text-transform: uppercase;
            padding:0 10px;

            color: $light-white;
        }
    }
    @media #{$small-only} {
        text-align:center;
    } 
}


//main header
.main-header {
    position:fixed;
    top:40px;
    width:100%;
    min-height: 54px;
    //min-height:remCalc(26px) + $column-gutter;
    z-index:5;
    text-align:right;
    .menu-logo {
        .logo {
            display:inline-block;
            width:100px;
            height:25px;
            margin:15px 0 0 12px;
            padding:0px;
            float:left;
            fill:$pink-color;
        }
    }
    .menu-register-btn {
        margin: 12px 55px 4px 0;
        color:$light-white !important;
    }
    p.menu-register-btn {
        background:none;
        
        width: 140px;
        float: right;
        a {
            margin-bottom: 10px;
        }

    }
    a.menu-register-btn {
        margin: 15px 55px 12px 0 !important;
    }
    .menu-button {
        position:absolute;
        right:0px;
        top:2px;
        margin-bottom:0px;
        padding:12px;
        z-index:2;
        text-align: center;
        &.active {
            border-radius:3px 3px 0 0;
        }
        .shape-hamburger {
            fill: $light-white !important;
            height:28px;
            width:28px;
            display:block;
        }
        .shape-close {
            fill: $light-white;
            margin-top:5px;
            height:23px;
            width:23px;
            display:block;
        }
    }
}

@media #{$medium-up} { 
    .main-header {

        top:52px;
        background:rgba(0,0,0,0.25);
        .menu-register-btn {
            display:none;
            background:$pink-color;
            color:$light-white !important;
            border:none;
        }
        p.menu-register-btn {
            margin-top:9px;
            background:none;
        }
        .menu-logo {
            display:none;
        }
    }
    .menu-button {
      display:none;
    }
}

//main navigation
.main-menu {
    float:left;
    clear:both;
    list-style:none;
    margin:0;
    width:100%;
    position: absolute;
    padding-top:40px;
    top: 0px;
    left: 0px;
    transition: $transition-time;
    overflow-x:hidden;
    overflow-y:auto;
    background:$black-color;
    &.hide-for-small {
        display:block !important;
        overflow:hidden;
        left: 831px;
        transition: $transition-time;
    }
    & > li {
        margin-bottom:20px;
        &:first-child a {
            border-radius:3px 0 0 0;
        }
        &.inline {
            display:inline;
            float:left;
            a {
                border-bottom:none;
            }
        }
        a {
            display:block;
            font-weight: normal;
            width:100%;
            float:left;
            padding:$column-gutter/4 $column-gutter/2;
            color:$light-white;

            @media #{$small-only} {
                margin-left:30px;
            } 

            .logo {
                display:block;
                fill:$light-white;
                height:25px;
                float:left;
                &.shape-logo-bbworld {
                    width:104px; 
                }
                &.shape-logo-devcon {
                    width:93px; 
                }
                &.shape-logo-bbworldlive {
                    width: 138px;
                }
            }
            &.expandable .icon {
                display: block;
                float: left;
                clear:both;
                height: 25px;
                width: 15px;
                margin-right:25px;
                text-align: center;
                fill:$light-white;
                transform: rotate(180deg);
                transition: $transition-time;
                @media #{$small-only} {
                    margin-left:-30px;
                }

                &.collapsed {
                    transform: rotate(0deg);
                    transition: $transition-time;
                }
            }
            &.current {
               
                .logo {
                    fill:$pink-color;
                }
            }
        }
    }
}
@media #{$medium-up} { 
    .main-menu {
        padding-top:0px;
        position:relative;
        top:0px;
        left:50% !important;
        width:474px;
        margin-left:-231px;
        background:none;
        overflow:visible !important;
        z-index:4;
        &.hide-for-small {
            left:0px;
        }

        & > li {
            display:inline;
            margin-bottom:0px;
                //position:relative;
                float:left;
                &.inline {
                    float:none;
                }
                &.search {
                    display:none;
                }
                &:first-child {
                }
                
                a {
                    display: inline;
                    width:auto;
                    float: left;
                    padding: 20px 23px;
                    font-weight: normal;
                    font-size: emCalc(14px);
                    border-bottom: 0px;
                    &:hover {

                    }
                    &.expandable .icon {
                        display:none;
                    }
                    &.current {

                        padding-left:0;
                        padding-right:0;
                        margin-left:20px;
                        margin-right:20px; 
                    }
                }
            }
        }
    }



//submenu
.sub-menu {
    list-style:none;
    clear:both;
    margin:0;
    text-align:left;
    padding-top:0px;
    padding-bottom:0px;
    max-height:300px;
    overflow-y:auto;
    background:rgba(0,0,0,0.25);
    display: block;
    height:auto;
    transition: $transition-time;

    @media #{$small-only} {
        margin-left:-30px;
    }
    
    &.hidden {
        display:block;
        max-height:0px;
        padding-bottom:0px;
        transition: $transition-time;
    }
    .close-btn {
        display:none;
    }
    li { 
        &:last-child {
            a {
                border-bottom:none;
            }
        }
        &.current-menu-item a {
            font-weight: bold;
            color:$pink-color;
        }
        a {
          padding:$column-gutter/2.5 $column-gutter*2;
          border-bottom:$border-style-dark;
          font-size:emCalc(12px);
          text-transform: uppercase;
        }
    }
    @media #{$medium-up} {
        //display:none; 
        position:fixed;
        top:121px;
        left:50%;
        width:100%;
        margin-left:-50%;
        text-align: center;
        border-left:0px;
        overflow-y:auto;
        max-height:59px;
        z-index:4;
        padding-top:0px !important;
        padding-bottom:0px !important;

        &.hidden {
            display:none;
            max-height:auto;
        }

        li {
            display: inline-block;
            margin:0px;
            a {
              color:$light-white;
              //width:100%;
              float:left;
              border-bottom:0px;
              margin:0 10px;
              border-right:0;
              padding:15px 0 8px 0;

            }
            &:last-child a{
              border-bottom:0;
            }
        }
    }
    @media #{$large-up} {
        .close-btn {
            right:15%;
        }
    }
}


//scaffolding
.hero-section {
    
    width:100%;
    color:$light-white;
    display:table;
    overflow:hidden;
    position:relative;
    p, h1, h2, h3, h4, h5, h6 {
        color:$light-white;
    }
    &.sub-page h1 {
        text-align:center;
    }
    #muteYouTubeVideoPlayer {
        display:none;
        @media #{$medium-up} {
            display: block;
        }
    }
    .inner {
        text-align: center;
        padding:80px 20px 40px 20px;
        display:table-cell;
        vertical-align:top;  

        @media #{$medium-up} {
            padding-top:180px;
            padding-left:0px;
            padding-right:0px;
            padding-bottom:80px;
        }
        @media (min-width: 1020px) {
            
            text-align: left;
            display:table-cell;
            vertical-align:middle;  
            .incont {
                width:50%;
            }
        }
        .spacer {
            height:$paragraph-margin-bottom*5;
            width:100%;
            float: left;
        }
    }

    .bottom-bar {
        position:absolute;
        bottom:0px;
        left:0px;
        width:90%;
        background:$pink-color;
        height:10px;
    }
    .bottom-bar-trans {
        position:absolute;
        bottom:0px;
        left:0px;
        width:95%;
        background:$pink-color;
        opacity:0.5;
        height:10px;
    }
}

//optional announcement panel
.announce-panel {
    background:$black-color;
    color:$light-white;
    padding:$paragraph-margin-bottom*2 0 $paragraph-margin-bottom 0;
    z-index: 3;
    text-align: center;
    width: 100%;
    a {
        color:$light-white !important;
        font-weight: bold;
        text-decoration: underline;
    }
}

.main-inner-content {
    padding:$paragraph-margin-bottom*4 0 0 0;
    &.single {
        padding-bottom: $paragraph-margin-bottom*4;
    }
 
}


.latest-news-container {
    a {
        color:$black-color !important;
    }
}


.shadow-block {
    .vc_column-inner  {
        background:$light-white;
        margin:$paragraph-margin-bottom $paragraph-margin-bottom $paragraph-margin-bottom 0;
        padding:$paragraph-margin-bottom;
        -webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
        box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);

        @media #{$small-only} {
             margin:0;
        }

    }

    &:last-child .vc_column-inner  {
        margin-right:0px;
    }
}

.dark-section {

    color:$light-white;
     p, h1, h2, h3, h4, h5, h6, blockquote, ul li, ol li, span {
        color:$light-white;
        background:none !important;
    }
    h1, h2 {
        -webkit-text-fill-color: unset !important;
    }
}

.bottom-cta-holder {
    background:$pink-color;
    a.button {
        
    }
}

.bottom-social-holder {
    background:$black-color;
}

.bottom-cta-holder, .bottom-social-holder {
    padding:120px 0;
  
    p, h1, h2, h3, h4, h5, h6, blockquote, ul li, ol li {
        color:$light-white;
    }
    text-align:center;
}

.bottom-form-holder {

    background:$black-color;
    padding:$paragraph-margin-bottom*4 0;
 
    .button {
        font-size: 13px !important;
        padding: 10px 16px;
    }
    .gform_wrapper {
        box-shadow:none;
        background: none;
        padding:0px;
        margin-right:20%;
        #field_1_1 {
            float:left;
            width: 49% !important;
            margin-right: 2% !important;
        }
        #field_1_2 {
            float:left;
            clear:none !important;
            width:49% !important;
        }
        input[type="text"] {
            width:100% !important;
            background:transparent;
            color:$light-white;
        }
        label {
            display: none !important;
        }
        .gform_footer {
            padding-top:0px !important;
        }
    }
}

//bbworld live home page
.live-session-hero-block {
    padding:$column-gutter*2 0;
    background: $dark-white;
}

.live-session-blocks {
     margin-top:$column-gutter*2;
}

//sessions vc component
.vc-session-thumb {
    width:100%;
}


//session template styles
.session-top {
    position:relative;
}

img.session-tiles {
    position: absolute;
    left:0px;
    z-index: 2;
    bottom: -70px;
    @media #{$small-only} {
        display:none;
    }
    @media #{$medium-up} {
        bottom: -140px;
    }
    @media #{$large-up} {
        bottom: -180px;
    }
}

.session-wrapper {
   
    margin-top:2rem;

    @media #{$medium-up} {
        margin-top:3rem;
        background:$dark-white;
        padding-top:$paragraph-margin-bottom*4;
        padding-bottom:$paragraph-margin-bottom*4;
    }
    @media #{$large-up} {
        margin-top:3rem;
    }
}

.session-inner {
    background:$light-white;
    padding:$paragraph-margin-bottom*2 $paragraph-margin-bottom;

    @media #{$medium-up} {
         padding:$paragraph-margin-bottom*2;
    }
    @media #{$large-up} {
         padding:$paragraph-margin-bottom*4;
    }
    .post-meta {
        color:$black-color;
    }
    .loader {
        width:100%;
        text-align:center;
        padding:$paragraph-margin-bottom*2;
        color:$dark-white;
    }
}

.session-single {
    margin-bottom:$paragraph-margin-bottom*4;
}

.session-subtitle {
    margin-bottom: $paragraph-margin-bottom;
}

.session-title {
    margin-bottom:$paragraph-margin-bottom/2;
    h2 {
        text-align:left;
    }
}

.session-meta {
    margin-bottom: $paragraph-margin-bottom/2;
}

.session-filters {
    z-index:6;
    @media #{$small-only} {
        border-bottom: $border-style;
        padding-bottom:$paragraph-margin-bottom;
        margin-bottom:$paragraph-margin-bottom*2;
    }
}

.session-filter-wrapper {
    margin-bottom:$paragraph-margin-bottom/2;
}

.session-filter-title {
    
    text-transform: uppercase;
    font-size:emCalc(18px);
    cursor:pointer;
    margin-bottom:0px;
    svg.shape-expand {
        fill:$black-color;
        height:17px;
        margin-left:7px;
        margin-top:5px;
        padding-top:5px;
    }
}

.session-filter-options {
    list-style: none;
    margin:$paragraph-margin-bottom/2 0 0 0;
    height:auto;
    overflow:hidden;
    transition: $transition-time;

    div {
        float:left;
        width:100%;
        clear:both;
    }

    input {
        float:left;
        margin:4px 5px 10px 0;
    }

    span {
        margin-bottom:10px;
        display:block;
    }

    li {
        margin-bottom:3px;
        text-transform: uppercase;
        font-size:emCalc(12px);
    }
}

//sponsors page VC component styles

.exhibitor-wrapper {
    
    margin-bottom: 40px;

    .centered-list-item {

        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        *display: inline;
        
        margin: 1%;

        width: 100%;

        @media #{$medium-up} {

            &.tiny {
                width: 250px;
            }

            &.small {
                width: 300px;
            }

            &.medium {
                width: 330px;
            }

            &.large {
                width: 40%;
            }

        }

    }


    &.xtra-padding {
        @media #{$medium-up} {
            padding:0 20%;
        }
        @media #{$large-up} {
            padding:0 30%;
        }
    }

    &.large {
        .exhibitor {
            height: 200px;
            .inner {
                height: 200px;
                top:200px;
                h3, .info {
                    @media #{$medium-only} {
                        font-size:20px;
                    }
                }
            }
        }
    }
    &.medium, &.small {
        .exhibitor {
            height: 155px;
            .inner {
                height: 155px;
                top:155px;
                h3, .info {
                    @media #{$medium-only} {
                        font-size:16px;
                    }
                    font-size:18px;
                }
            }
        }
    }
    &.tiny {
        .exhibitor { 
            height: 155px;
            .inner {
                height: 155px;
                top:155px;
                h3, .info {
                    @media #{$medium-only} {
                        font-size:14px;
                    }
                    font-size:16px;
                }
            }
        }
    }
    


}

 .exhibitor {
    margin:20px;
    position:relative;
    overflow:hidden;
    cursor:pointer;
 }

 .exhibitor:hover .inner {
    top:0px !important;
    transition: all .2s ease-in-out;
 }

 .exhibitor .inner {
    transition: all .2s ease-in-out;
    background: rgba(0,0,0,0.8);
    padding: 24px;
    text-align: center;
    position: absolute;
    width: 100%;
 }

 .exhibitor .inner h3 {
    color:#fff;
    margin-bottom: 0px;
 }

 .exhibitor .inner .info {
    color:#fff;
 }

 .exhibitor .inner .button {
    margin-top:20px;
 }

//login template
.form-wrapper {
    margin:$paragraph-margin-bottom*2 0;
    padding:$paragraph-margin-bottom;

}

#loginform {
    box-shadow: $box-shadow;
    padding:$paragraph-margin-bottom*2;
    background:$light-white;
}

//livestream cc
.closed-captions-btn {
    margin: 0 auto 6px auto;
    display: block;
    width: 200px;
}


footer {
    background:$black-color;
    padding:12px;
    position:fixed;
    z-index:300;
    bottom:0px;
    width:100%;
    .inline-list {
        margin:0px;
        @media #{$small-only} {
            margin:0 auto;
            text-align:center;
            float:none !important;
        }
        li {
            text-transform: uppercase;
            font-size: 0.6rem;
            color:$light-white;
            &:first-child {
                margin-left:0px !important;
            }
            a {
                color:$light-white;
            }
        }
    }
}



